.debug {
  background-color: rgb(245, 178, 178);
  border: 1px solid black;
  min-height: 60px;
}
/* header ****************** */
header {
  height: 90px;
  background-color: #2d3d4f;
}
/* main ********************** */
main section:nth-child(odd) {
  background-color: #1abc9b;
  color: white;
}
/* section start  *****/
.container_start {
  width: 80%;
  margin: 0 auto;
}
.container_start figure {
  width: 300px;
  height: 300px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.container_start .icon_star {
  height: 40px;
}
/* TODO: la lunghezza delle linee in responsive mode >> in lavorazione  */
.icon_star .line_icon {
  width: 15%;
  height: 10%;
  background-color: white;
}
.icon_star .star {
  width: 10%;
  height: 116%;
  font-size: 1.8rem;
}
.jobs span {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.8rem;
}
.jobs a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.jobs a:hover {
  text-decoration: underline;
  color: rgb(242, 241, 241);
}

/* section portfolio ** */

/* section about ** */
.container_about {
  width: 70%;
  max-width: 980px;
  margin: 0 auto;
}

.footer_top {
  background-color: #3a546d;
}

.footer_bottom {
  background-color: #2d3d4f;
  height: 110px;
}
