header {
  background-color: #2d3d4f;
  height: 90px;
}
.debug {
  background-color: rgb(240, 163, 163);
  border: 1px solid black;
  min-height: 50px;
}
.ml-20 {
  margin-left: 20px;
}
section.start {
  height: 490px;
  background-color: #1abc9b;
}
.h-20 {
  height: 20px;
}
